*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
}
/* Header */
header{
    background-color: white;
    padding-left: 20px;
}
.logo{
    line-height: 80px;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
/* Main */
.container{
    width: 70%;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
}
.button{
    background-color: white;
    border: 1px solid #C4CBD0;
    padding: 7px 10px;
    color: #C4CBD0;
    border-radius: 5px;
    margin: 15px 0px 10px;
}
.buttonContainer{
    border-bottom: 2px solid #F6F8F9;
}
.space{
    padding-left: 50px;
}
.blu{
    background-color: #14AAF5;
    color: white;
    border-color: #14AAF5;
}